@import 'variables';
@import 'mixins';
@import 'header.less';
@import 'breadcrumbs.less';
@import 'user-info.less';
@import 'menu.less';

html {
    height: 100%;
}

body {
    height: 100%;
}

.page-container {
    display: flex;
    float: left;
    height: 100%;
    width: 100%;

    .menu-container {
        flex-basis: @menu-width;
        flex-grow: 0;
        flex-shrink: 0;
        height: 100%;

        .menu {
            height: 100%;
            width: 100%;
        }
    }

    .content-container {
        background: #e8e8e8 url(../images/bg.png) left top repeat;
        flex-grow: 1;
        overflow: auto;

        .header {
            height: @header-height;
            width: 100%;
        }
        .breadcrumbs {
            height: @breadcrumbs-height;
        }
    }

    &.navigation-menu-collapsed {
        .menu-container {
            flex-basis: @menu-collapsed-width;
        }
    }
}

.responsive(mobile, {
.page-container {
    display: block;
    height: auto;
    .menu-container {
        height: 100%;
        left: 0;
        position: fixed;
        top: @header-height;
        width: 100%;
        z-index: 500;

        .menu {
            height: auto;

            .logo-container {
                display: none;
            }
        }
    }

    &.navigation-menu-collapsed {
        .menu-container {
            display: none;
        }
    }
}
});
