@import 'variables';

.header {
  background-color: @main-background-color;
}

.header-navigation {
  display: block;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    display: block;
    float: left;
    height: 50px;
    min-width: 50px;

    a,
    div {
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 14px;
      height: 50px;
      padding: 15px 19px;
      transition: all 200ms ease;
      width: 50px;

      &:hover {
        background: @link-hover-background;
        color: @link-hover-color;
      }
    }
  }

  &.pull-right {
    float: right;
  }
}
