@mobile-width: 480px;
@tablet-width: 768px;
@desktop-width: 992px;
@desktop-wide-width: 1200px;

@header-height: 50px;
@breadcrumbs-height: 30px;
@menu-width: 220px;

@main-background-color: #33414e;

@link-hover-background: #3d4e5d;
@link-hover-color: #ffd559;
