@import 'accounts/_accounts.less';
@import 'categories/_categories.less';
@import 'settings/_settings.less';
@import 'transactions/_transactions.less';

.actions-column {
  text-align: right;
  width: 120px;
}

.first-column {
    text-align: left;
}
