<div class="component-container col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title-box">
                <h3>
                    {{ formState.texts.header }}
                </h3>
            </div>
        </div>
        <div class="panel-body">
            <form name="transactionForm" class="form-horizontal">
                <!-- SUMM -->
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        {{ 'components.transactions.fields.value.text' | translate }}
                    </label>
                    <div class="col-md-9">
                        <input id="value" name="value" type="text" class="form-control"
                               placeholder="{{ 'components.transactions.fields.value.placeholder' | translate }}"
                               ng-disabled="!formState.value.enable"
                               ng-model="model.value"
                               mk-required mk-number>
                        <label for="value" class="error"
                               ng-show="transactionForm.value.$dirty &&
                                        transactionForm.value.$error.mkRequired">
                            {{ 'components.transactions.validation.value.mkRequired' | translate }}
                        </label>
                        <label for="value" class="error"
                               ng-show="transactionForm.value.$dirty &&
                                        transactionForm.value.$error.mkNumber">
                            {{ 'components.transactions.validation.value.mkNumber' | translate }}
                        </label>
                    </div>
                </div>
                <!-- DATE -->
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        {{ 'components.transactions.fields.date.text' | translate }}
                    </label>
                    <div class="col-md-9">
                        <div class="input-group date">
                            <input type="text" class="form-control date-picker"
                                   datedropper
                                   ng-disabled="!formState.date.enable"
                                   ng-model="model.date">
                            <span class="input-group-addon add-on">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- TRANSACTION TYPE -->
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        {{ 'components.transactions.fields.type.text' | translate }}
                    </label>
                    <div class="col-md-9">
                        <select class="form-control"
                                ng-model="model.type"
                                ng-disabled="!formState.transactionTypes.enable"
                                ng-options="type.name for type in formState.transactionTypes.data track by type.value"
                                ng-change="transactionTypeChangedHandler()">
                        </select>
                    </div>
                </div>
                <!-- ACCOUNT SOURCE -->
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        {{ 'components.transactions.fields.account-source.text' | translate }}
                    </label>
                    <div class="col-md-9">
                        <select id="accountSource" name="accountSource" class="form-control"
                                ng-model="model.accountSource"
                                ng-disabled="!formState.accountSource.enable"
                                ng-options="account.name for account in formState.accountSource.data track by account._id"
                                mk-required>
                            <option value="">{{ 'components.transactions.fields.account-source.default-value' | translate }}</option>
                        </select>
                        <label for="accountSource" class="error"
                               ng-show="transactionForm.accountSource.$dirty &&
                                        transactionForm.accountSource.$error.mkRequired">
                            {{ 'components.transactions.validation.accountSource.mkRequired' | translate }}
                        </label>
                    </div>
                </div>
                <!-- ACCOUNT DESTINATION -->
                <div class="form-group"
                     ng-show="formState.accountDestination.visible">
                    <label class="col-md-3 control-label">
                        {{ 'components.transactions.fields.account-destination.text' | translate }}
                    </label>
                    <div class="col-md-9">
                        <select id="accountDestination" name="accountDestination" class="form-control"
                                ng-model="model.accountDestination"
                                ng-disabled="!formState.accountDestination.enable"
                                ng-options="account.name for account in formState.accountDestination.data track by account._id"
                                mk-required>
                            <option value="">{{ 'components.transactions.fields.account-destination.default-value' | translate }}</option>
                        </select>
                        <label for="accountDestination" class="error"
                               ng-show="transactionForm.accountDestination.$dirty &&
                                        transactionForm.accountDestination.$error.mkRequired">
                            {{ 'components.transactions.validation.accountDestination.mkRequired' | translate }}
                        </label>
                    </div>
                </div>
                <!-- CATEGORY -->
                <div class="form-group"
                     ng-show="formState.category.visible">
                    <label class="col-md-3 control-label">
                        {{ 'components.transactions.fields.category.text' | translate }}
                    </label>
                    <div class="col-md-9">
                        <select id="category" name="category" class="form-control"
                                ng-model="model.category"
                                ng-disabled="!formState.category.enable"
                                ng-options="category.name for category in formState.category.data track by category._id"
                                mk-required>
                            <option value="">{{ 'components.transactions.fields.category.default-value' | translate }}</option>
                        </select>
                        <label for="category" class="error"
                               ng-show="transactionForm.category.$dirty &&
                                        transactionForm.category.$error.mkRequired">
                            {{ 'components.transactions.validation.category.mkRequired' | translate }}
                        </label>
                    </div>
                </div>
                <!-- NOTE -->
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        {{ 'components.transactions.fields.note.text' | translate }}
                    </label>
                    <div class="col-md-9">
                        <textarea name="note" type="note" class="form-control"
                               placeholder="{{ 'components.transactions.fields.note.placeholder' | translate }}"
                               ng-disabled="!formState.note.enable"
                               ng-model="model.note"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <!-- CONTROLS -->
            <div class="btn-group pull-right">
                <button class="btn btn-default" type="button"ng-click="cancel()">
                    {{ 'common.buttons.cancel' | translate }}
                </button>
                <button class="btn btn-primary" type="submit"
                        ng-click="executeOperation()"
                        ng-disabled="!formState.submit.enable" >
                    {{ formState.texts.saveButton }}
                </button>
            </div>
        </div>
    </div>
</div>
