<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">

    <link href="styles/built/landing-page.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="header-content">
        <div class="logo">
            <a href="/">
                <span class="red">M</span>oney<span class="red">K</span>eeper
            </a>
        </div>
        <div class="subscribe">
            <input type="email" class="form-control" placeholder="Your email">
            <button title="Subscribe">
                <span class="fa fa-paper-plane"></span>
            </button>
        </div>
        <div class="language">
            
        </div>
    </div>
</div>
<div class="content">
    <div class="page-content-wrap bg-dark">
        <div class="page-content-holder">
            <div class="slider">
                <div class="slide">
                    slide 1
                </div>
                <div class="slide hidden">
                    slide 2
                </div>
                <div class="slide hidden">
                    slide 3
                </div>
                <div class="slide hidden">
                    slide 4
                </div>
            </div>
            <ul class="slider-controls">
                <li><a class="control active" data-method="goTo" data-argument="0"></a></li>
                <li><a class="control" data-method="goTo" data-argument="1"></a></li>
                <li><a class="control" data-method="goTo" data-argument="2"></a></li>
                <li><a class="control" data-method="goTo" data-argument="3"></a></li>
            </ul>
        </div>
    </div>
    <div class="divider">
        <div class="box">
            <span class="fa fa-angle-down"></span>
        </div>
    </div>
    <div class="page-content-wrap bg-light bg-img-1">
        <div class="page-content-holder">
            <div class="row">
                <div class="col-md-8">
                    <div class="text-column this-animate" data-animate="fadeInLeft">
                        <div class="block-heading block-heading-centralized">
                            <h2 class="heading-underline">
                                Контроль личных финансов
                            </h2>
                            <div class="block-heading-text">
                                Ведение домашней бухгалтерии дает Вам и вашей семье целый ряд существенных преимуществ.
                                Планирование расходов, сравнение планов с реальными затратами и корректировка на следующий месяц.
                                Учет доходов, постановка целей и их достижение.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-column this-animate" data-animate="fadeInRight">
                        <div class="graph-icon">
                            <img src="images/chart.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider">
        <div class="box">
            <span class="fa fa-angle-down"></span>
        </div>
    </div>
    <div class="page-content-wrap bg-dark bg-texture-1">
        <div class="page-content-holder">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-column text-column-centralized this-animate" data-animate="fadeInLeft">
                        <div class="text-column-icon">
                            <span class="fa fa-money large"></span>
                        </div>
                        <h4>
                            Финансовая защита
                        </h4>
                        <div class="text-column-info">
                            Узнайте свой среднемесячный расход и соберите сумму,
                            необходимую на случай, если источники вашего дохода внезапно иссякнут.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-column text-column-centralized this-animate" data-animate="fadeInUp">
                        <div class="text-column-icon">
                            <span class="fa fa-briefcase large"></span>
                        </div>
                        <h4>
                            Финансовая независимость
                        </h4>
                        <div class="text-column-info">
                            Создайте план и следуйте ему для покрытия своих ежемесячных затрат за счет пассивных доходов.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-column text-column-centralized this-animate" data-animate="fadeInRight">
                        <div class="text-column-icon">
                            <span class="fa fa-university large"></span>
                        </div>
                        <h4>
                            Финансовая свобода
                        </h4>
                        <div class="text-column-info">
                            Определите стоимость своих мечтаний и составьте план по их достижению и содержанию.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider">
        <div class="box">
            <span class="fa fa-angle-down"></span>
        </div>
    </div>
    <div class="page-content-wrap bg-light bg-texture-1">
        <div class="page-content-holder">
            Some text 3
        </div>
    </div>
</div>
<div class="footer">
    <div class="page-content-wrap bg-dark-gray">
        <div class="page-content-holder">
            Footer text 2
        </div>
    </div>
    <div class="page-content-wrap bg-darken-gray">
        <div class="page-content-holder">
            Footer text 2
        </div>
    </div>
</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/jquery/jquery.appear/index.js"></script>
<script src="vendor/revolver/lodash.min.js"></script>
<script src="vendor/revolver/bean.min.js"></script>
<script src="vendor/velocity/velocity.min.js"></script>
<script src="vendor/revolver/revolver.min.js"></script>
<script src="scripts/index.js"></script>
</body>
</html>
