<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">

    <link href="styles/built/landing-page.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="header-content">
        <div class="logo">
            <a href="/">
                <span class="red">M</span>oney<span class="red">K</span>eeper
            </a>
        </div>
        <div class="subscribe">
            <form class="subscribe-form" action="/subscribe" method="POST">
                <input type="email" name="email" class="form-control" placeholder="e-mail">
                <button class="subscribe-button" title="Подписаться">
                    <span class="fa fa-paper-plane"></span>
                </button>
            </form>
        </div>
        <div class="language">
            
        </div>
    </div>
</div>
<div class="content">
    <div class="page-content-wrap bg-dark slider-wrapper">
        <div class="page-content-holder slider-wrapper">
            <div class="slider">
                <div class="slide slide_1">
                    <div class="slide-text-1">
                        Ведение домашней бухгалтерии - легко, удобно, выгодно.
                    </div>
                </div>
            </div>
            <ul class="slider-controls">
                <li><a class="control active" data-method="goTo" data-argument="0"></a></li>
            </ul>
        </div>
    </div>
    <div class="divider">
        <div class="box">
            <span class="fa fa-angle-down"></span>
        </div>
    </div>
    <div class="page-content-wrap bg-light bg-img-1">
        <div class="page-content-holder">
            <div class="row">
                <div class="col-md-8">
                    <div class="text-column this-animate" data-animate="fadeInLeft">
                        <div class="block-heading block-heading-centralized">
                            <h2 class="heading-underline">
                                Контроль личных финансов
                            </h2>
                            <div class="block-heading-text">
                                <ul id="features-list">
                                    <li>
                                        Удобное ведение доходов и расходов
                                    </li>
                                    <li>
                                        Настраиваемые категории, валюты, счета
                                    </li>
                                    <li>
                                        Наглядные отчеты об операциях
                                    </li>
                                    <li>
                                        Импорт и экспорт данных
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-column this-animate" data-animate="fadeInRight">
                        <div class="graph-icon">
                            <img src="images/chart.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider">
        <div class="box">
            <span class="fa fa-angle-down"></span>
        </div>
    </div>
    <div class="page-content-wrap bg-dark bg-texture-1">
        <div class="page-content-holder">
            <div class="row">
                <div class="col-md-4">
                    <div class="text-column text-column-centralized this-animate" data-animate="fadeInLeft">
                        <div class="text-column-icon">
                            <span class="fa fa-money large"></span>
                        </div>
                        <h4>
                            Финансовая защита
                        </h4>
                        <div class="text-column-info">
                            Узнайте свой среднемесячный расход и соберите сумму,
                            необходимую на случай, если источники вашего дохода внезапно иссякнут.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-column text-column-centralized this-animate" data-animate="fadeInUp">
                        <div class="text-column-icon">
                            <span class="fa fa-briefcase large"></span>
                        </div>
                        <h4>
                            Финансовая независимость
                        </h4>
                        <div class="text-column-info">
                            Создайте план и следуйте ему для покрытия своих ежемесячных затрат за счет пассивных доходов.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-column text-column-centralized this-animate" data-animate="fadeInRight">
                        <div class="text-column-icon">
                            <span class="fa fa-university large"></span>
                        </div>
                        <h4>
                            Финансовая свобода
                        </h4>
                        <div class="text-column-info">
                            Определите стоимость своих мечтаний и составьте план по их достижению и содержанию.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider">
        <div class="box">
            <span class="fa fa-angle-down"></span>
        </div>
    </div>
    <div class="page-content-wrap bg-light bg-texture-1">
        <div class="page-content-holder">
            <div class="quote this-animate" data-animate="fadeInUp">
                <form class="subscribe-form" action="/subscribe" method="POST">
                    <h3>
                        <strong>Подписаться</strong> на запуск сервиса
                    </h3>
                    <div class="subscribe large">
                        <input type="email" name="email" class="form-control" placeholder="e-mail">
                        <button class="subscribe-button" title="Подписаться">
                            <span class="fa fa-paper-plane"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="page-content-wrap bg-dark-gray">
        <div class="page-content-holder">
            <div class="row">
                <div class="col-md-3">
                    <h3>
                        О сервисе
                    </h3>
                    <p>
                        Данный сервис предназначен для личного некоммерческого использования.
                        Все права принадлежат автору.
                    </p>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <h3>
                        Контакты
                    </h3>
                    <div class="footer-contacts">
                        <div class="fc-row">
                            <span class="fa fa-envelope"></span>
                            <strong>Горлов Дмитрий</strong><br>
                            <a href="mailto:#">dmt.gorlov@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content-wrap bg-darken-gray">
        <div class="page-content-holder">
            <div class="copyright">
                © 2014-<span id="current-year"></span> MoneyKeeper by Gorlov Dmitry - All Rights Reserved
            </div>
        </div>
    </div>
</div>


<div id="succes-message" class="message-box animated fadeIn">
    <div class="message-container success">
        <div class="mb-middle">
            <div class="mb-title">
                <span class="fa fa-check"></span>
                Спасибо за подписку
            </div>
            <div class="mb-content">
                <p>
                    Мы обязательно сообщим Вам о запуске сервиса
                </p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right close-message-box">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>
<div id="error-message" class="message-box animated fadeIn">
    <div class="message-container error">
        <div class="mb-middle">
            <div class="mb-title">
                <span class="fa fa-times"></span>
                Что-то пошло не так
            </div>
            <div class="mb-content">
                <p>
                    Приносим свои извинения. Попробуйте повторить попытку позднее.
                </p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right close-message-box">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/jquery/jquery.appear/index.js"></script>
<script src="vendor/revolver/lodash.min.js"></script>
<script src="vendor/revolver/bean.min.js"></script>
<script src="vendor/velocity/velocity.min.js"></script>
<script src="vendor/revolver/revolver.min.js"></script>
<script src="scripts/index.js"></script>
</body>
</html>
