<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
    <title>
        MK | Регистрация
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="styles/_dist/login.css">
    <link rel="stylesheet" href="styles/framework/font-awesome/css/font-awesome.css">
</head>
<body>
<div class="login-container">
    <div class="login-logo"></div>
    <div class="login-body">
        <div class="login-title">
            <strong>Регистрация</strong> нового аккаунта
        </div>
        <form action="/signup" class="form-horizontal" method="post">
            <div class="form-group">
                <div class="col-md-12">
                    <input name="email" type="text" class="form-control" placeholder="E-mail">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input name="password" type="password" class="form-control" placeholder="Пароль">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    &nbsp;
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-info btn-block" onclick="checkForm()">Зарегистрировать</button>
                </div>
            </div>
            <div class="login-subtitle">
                Уже есть аккаунт? <a href="/login">Войдите через него</a>
            </div>
        </form>
    </div>
</div>
<script>
    function checkForm() {
        var email = document.getElementsByName("email")[0].value;
        var emailIsValid;
        var password = document.getElementsByName("password")[0].value;
        var passwordIsValid;


        emailIsValid = validateEmai(email);
        passwordIsValid = !!password;

        if (!emailIsValid) {
            alert('Введите корректны e-mail');
        }

        if (!passwordIsValid) {
            alert('Введите пароль');
        }

        if (emailIsValid && passwordIsValid) {
            document.forms[0].submit();
        }

        return false;
    }

    function validateEmai(email) {
        var regEx = /^[-a-z0-9!#$%&'*+/=?^_`{|}~]+(\.[-a-z0-9!#$%&'*+/=?^_`{|}~]+)*@([a-z0-9]([-a-z0-9]{0,61}[a-z0-9])?\.)*(aero|arpa|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|[a-z][a-z])$/i;

        return regEx.test(email);
    }
</script>
</body>
</html>
