<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">

    <link href="styles/built/subscribe-page.css" rel="stylesheet">
</head>
<body>
<div class="subscribe-panel-wrapper">
    <div class="subscribe-panel">
        <h1>
            MoneyKeeper
        </h1>
        <p>
            В данное время сервис находится в стадии разработки и временно не доступен.
        </p>
        <p>
            Вы можете подписаться на уведомление о начале работы нашего сервиса.
        </p>
        <p>
            Укажите ваш адрес электронной почты и нажмите кнопку "Подписаться"
        </p>
        <form id="subscribe-form" action="/subscribe" method="POST">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="fa fa-lock"></span>
                </div>
                <input type="email" name="email" class="form-control" placeholder="email" value="">
                <input id="subscribe-form-submit" type="submit" class="subscribe-button" value="Подписаться">
            </div>
        </form>
    </div>
</div>
<div class="main-content">
    <h1>
        Учитывайте финансы
    </h1>
    <div class="row backgrounded">
        <div class="col-md-8">
            Объедините все ваши финансы в одной системе.
            Ведите общий учет наличных, карт, ПИФов, кредитов и вкладов.
        </div>
        <div class="col-md-4">
            <img class="row-pic" src="../images/money_1.jpg">
        </div>
    </div>
    <h1>
        Составляйте планы
    </h1>
    <div class="row backgrounded">
        <div class="col-md-4">
            <img class="row-pic" src="../images/money_2.jpg">
        </div>
        <div class="col-md-8">
            Планируйте свои расходы и доходы. Составляйте прогнозы и контролируйте исполнение бюджета.
        </div>
    </div>
    <h1>
        Ведите накопления
    </h1>
    <div class="row backgrounded">
        <div class="col-md-4">
            <img class="row-pic" src="../images/money_3.jpg">
        </div>
        <div class="col-md-8">
            Откладывайте деньги ежемесячно и достигайте поставленных целей
        </div>
    </div>
</div>
    <script src="//code.jquery.com/jquery-2.1.3.js"></script>
    <script>
        var $form = $("#subscribe-form");
        var $submit = $("#subscribe-form-submit");

        $form.on('submit', function () {
            return false;
        });

        $submit.on('click', function () {
            var dataString = $form.serialize();

            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: dataString,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    console.log('success', data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error', textStatus, errorThrown);
                },
                beforeSend: function (jqXHR, settings) {
                    $submit.attr("disabled", true);
                },
                complete: function (jqXHR, textStatus) {
                    $submit.attr("disabled", false);
                }
            });
        });
    </script>
</body>
</html>
