<div class="col-md-12">
    <div class="panel panel-default" ng-controller="CurrencyCreateCtrl">
        <div class="panel-heading">
            <div class="panel-title-box">
                <h3>
                    {{ 'components.currencies.create.header' | translate }}
                </h3>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        {{ 'components.currencies.fields.name.text' | translate }}
                    </label>
                    <div class="col-md-9">
                        <input name="name" type="text" class="form-control"
                               placeholder="{{ 'components.currencies.fields.name.placeholder' | translate }}" ng-model="name">
                    </div>
                </div>
                <hr>
                <div class="btn-group pull-right">
                    <button class="btn btn-default" type="button"ng-click="Cancel()">
                        {{ 'common.buttons.cancel' | translate }}
                    </button>
                    <button class="btn btn-primary" type="submit"
                            ng-click="addCurrency(this)"
                            ng-disabled="submitDisabled" >
                        {{ 'common.buttons.create' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
