<div class="settings-container">
    <a href="#/categories" class="settings-card widget widget-default">
        <span class="card-img fa fa-folder-o"></span>
        <span class="card-sign">
            {{ 'navigation-menu.categories.root' | translate }}
        </span>
    </a>
    <a href="#/currencies" class="settings-card widget widget-default">
        <span class="card-img fa fa-usd"></span>
        <span class="card-sign">
            {{ 'navigation-menu.currencies.root' | translate }}
        </span>
    </a>
    <a href="#/accounts" class="settings-card widget widget-default">
        <span class="card-img fa fa-credit-card"></span>
        <span class="card-sign">
            {{ 'navigation-menu.accounts.root' | translate }}
        </span>
    </a>
</div>
