@import '../../mixins.less';


.transaction-value {
    font-weight: bold;

    &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-align: center;
        width: 15px;
    }

    &.income {
        color: @green;
    }
    &.income:before {
        content: '+';
    }

    &.outcome {
        color: @red;
    }
    &.outcome:before {
        content: '-';
    }

    &.transfer {
        color: @dark-grey;
    }
    &.transfer:before {
        content: '\f07e';
        font-size: 10px;
    }
}

.transaction-list-date-column {
    min-width: 60px;
}

.transaction-list-note-column {
    max-width: 200px;
    overflow-x: auto;

    .responsive(mobile, {
    & {
        display: none;
    }
    });
}
