.transactions-import-panel {
    padding: 0 0 10px 0;

    .import-source-button {
        img {
            margin-right: 10px;
        }
    }
}

#pick-file-block {
    .drop-box {
        align-items: center;
        border: dashed 2px;
        display: flex;
        font-size: 16px;
        height: 100px;
        justify-content: center;

        &.dragover {
            border-style: solid;
        }
    }
}

.transactionImportWindow {
    .tab-content {
        padding-top: 10px;
    }

    #matching-block {
        padding-top: 35px;

        .row {
            margin-bottom: 5px;
        }
    }
}
