@import "landing-page-mixins";

body {
    .full-width ();

    background: #ffffff;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.red {
    color: @red;
}

.header {
    .full-width ();

    .logo {
        a {
            color: @black;
            display: block;
            float: left;
            font-size: 1.8em;
            padding: 10px 15px;
            text-decoration: none;
        }
    }

    .subscribe {

    }
}

.content {
    .full-width ();

}

.footer {
    .full-width ();

}
