@import "landing-page-mixins";

body {
    .full-width ();

    background-color: #222222;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}

.red {
    color: @red;
}

.header {
    .full-width ();
    background-color: #fff;

    .header-content {
        margin: 0 auto;
        width: @content-width;

        .logo {
            a {
                color: @black;
                display: block;
                float: left;
                font-size: 1.5em;
                padding: 10px 0;
                text-decoration: none;
            }
        }

        .subscribe {
            float: right;
            padding: 10px 0;

            input {
                background-color: @gray;
                border: 1px solid @gray-border;
                border-radius: 4px 0 0 4px;
                border-right: none;
                box-sizing: border-box;
                color: #555;
                float: left;
                height: 30px;
                outline:none;
                padding: 6px 12px;
                width: 210px;

                -webkit-user-select: none;
            }

            button {
                .transition();

                background-color: @red;
                border: solid 1px @red-border;
                border-radius: 0 4px 4px 0;
                box-sizing: border-box;
                color: #fff;
                float: left;
                height: 30px;
                outline:none;
                width: 45px;

                -webkit-user-select: none;

                &:hover {
                    background-color: @red-darken;
                    border-color: @red-darken;
                    cursor: pointer;
                }
            }
        }
    }
}

.content {
    .full-width();

    .graph-icon {
        text-align: center;

        img {
            width: 225px;
        }
    }
}

.footer {
    .full-width();
}

.page-content-wrap {
    .full-width();

    .page-content-holder {
        margin: 0 auto;
        padding: 60px 0 40px;
        width: @content-width;
    }

    &.bg-light {
        background-color: #F5F5F5;
        color: #757575;
    }

    &.bg-dark {
        background-color: #333333;
        color: #F0F0F0;
    }

    &.bg-dark-gray {
        background-color: #222222;
        color: #F0F0F0;
    }

    &.bg-darken-gray {
        background-color: #151515;
        color: #F0F0F0;
    }

    &.bg-img-1 {
        background-image: url("../../images/bg-1.jpg");
        background-position: center center;
        background-repeat: fixed;
    }

    &.bg-texture-1 {
        background-image: url("../../images/texture-1.png");
        background-position: left top;
        background-repeat: repeat;
    }
}

.slider {
    height: @slider-height;
    padding: 40px 0 !important;

    .slide {

        border: solid 1px @red;
        position: absolute;
        width: @content-width;
        height: @slider-height;
        font-size: 48px;

        &.hidden {
            display: none;
        }
    }
}

.divider {
    background: #E5E5E5;
    float: left;
    height: 1px;
    margin: 0;
    position: relative;
    width: 100%;

    .box {
        background: #FFF;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        bottom: -12px;
        height: 24px;
        left: 50%;
        line-height: 24px;
        margin-left: -12px;
        padding-left: 1px;
        position: absolute;
        text-align: center;
        transform: rotate(45deg);
        width: 24px;

        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);

        .fa {
            color: #D5D5D5;
            font-size: 13px;
            transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
    }
}
