.categories-list {
    .income-column {
        max-width: 10px;
        overflow-x: auto;
        width: 4%;
    }
    .name-column {
        max-width: 50px;
        overflow-x: auto;
    }
    .parent-column {
        max-width: 40px;
        overflow-x: auto;
    }
}
