.categories-list {
    .categories-list-item {
        display: flex;
        padding: 7px 10px;

        .content {
            float: left;
        }

        .grad-handle {
            cursor: move;
            float: left;
            padding: 2px;
            text-align: center;
            width: 30px;
        }
    }
}
