<div class="component-container col-md-12">
    <div class="panel panel-default"
         panel-disabled="isUpdating">
        <div class="panel-heading">
            <div class="panel-title-box">
                <h3>
                    {{ 'components.categories.list.header' | translate }}
                </h3>
                <span>
                    {{ 'components.categories.list.sub-header' | translate }}
                </span>
            </div>
            <ul class="panel-controls">
                <li>
                    <button ng-click="refresh()">
                        <span class="fa fa-refresh"></span>
                    </button>
                </li>
                <li>
                    <button ng-click="addNewCategory()" title="{{ 'common.buttons.create' | translate }}">
                        <span class="fa fa-plus"></span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div ui-tree="treeOptions">
                        <ol ui-tree-nodes="" ng-model="categoriesTree.outcome">
                            <li ng-repeat="node in categoriesTree.outcome" ui-tree-node class="tree-node" ng-include="'nodes_renderer.html'"></li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-6">
                    <div ui-tree="treeOptions">
                        <ol ui-tree-nodes="" ng-model="categoriesTree.income">
                            <li ng-repeat="node in categoriesTree.income" ui-tree-node class="tree-node" ng-include="'nodes_renderer.html'"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node-content">
        <a data-nodrag ng-click="toggle(this)" class="collapse-handle" >
            <i ng-class="{ 'fa fa-angle-down': collapsed && hasChild(), 'fa fa-angle-up': !collapsed && hasChild(), 'fa empty': !hasChild() }"></i>
        </a>
        <div class="category-income">
            <i ng-class="{ 'fa fa-chevron-circle-up text-success': node.income, 'fa fa-chevron-circle-down text-danger': !node.income }"></i>
        </div>
        <span class="node-name">
            {{ node.name }}
        </span>
        <a data-nodrag ng-click="removeCategory(this)" class="remove-button" >
            <i class="fa fa-times"></i>
        </a>
        <a data-nodrag ng-click="editCategory(this)" class="edit-button">
            <i class="fa fa-pencil"></i>
        </a>
    </div>
    <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.children" ui-tree-node class="tree-node" ng-include="'nodes_renderer.html'"></li>
    </ol>
</script>
