<div class="component-container col-md-12">
    <div class="panel panel-default"
         panel-disabled="isUpdating">
        <div class="panel-heading">
            <div class="panel-title-box">
                <h3>
                    {{ 'components.categories.list.header' | translate }}
                </h3>
                <span>
                    {{ 'components.categories.list.sub-header' | translate }}
                </span>
            </div>
            <ul class="panel-controls">
                <li>
                    <button ng-click="refresh()">
                        <span class="fa fa-refresh"></span>
                    </button>
                </li>
                <li>
                    <a href="#/categories/add" class="button header-button-create"
                       title="{{ 'common.buttons.create' | translate }}">
                        <span class="fa fa-plus"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <!--
            <div class="table-search">
                <label for="table-search-field">
                    {{ 'common.lists.search' | translate }}
                    :
                </label>
                <input id="table-search-field" value="">
            </div>
            -->

            <div ui-tree id="tree-root">
                <ol ui-tree-nodes="" ng-model="categoriesTree">
                    <li ng-repeat="node in categoriesTree" ui-tree-node class="tree-node" ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </div>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node-content">
        <a data-nodrag ng-click="toggle(this)" class="collapse-handle" >
            <i ng-class="{ 'fa fa-angle-down': collapsed && hasChild(), 'fa fa-angle-up': !collapsed && hasChild(), 'fa empty': !hasChild() }"></i>
        </a>
        <span class="node-name">
            {{ node.name }}
        </span>
        <a data-nodrag ng-click="remove(this)" class="remove-button" >
            <i class="fa fa-times"></i>
        </a>
        <a data-nodrag ng-click="newSubItem(this)" class="add-button">
            <i class="fa fa-plus"></i>
        </a>
    </div>
    <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.children" ui-tree-node class="tree-node" ng-include="'nodes_renderer.html'"></li>
    </ol>
</script>
