<div class="col-md-12">
    <div class="panel panel-default" ng-controller="AccountCreateCtrl">
        <div class="panel-heading">
            <div class="panel-title-box">
                <h3>
                    {{ 'components.accounts.create.header' | translate }}
                </h3>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        {{ 'components.accounts.fields.name.text' | translate }}
                    </label>
                    <div class="col-md-9">
                        <input name="name" type="text" class="form-control"
                               placeholder="{{ 'components.accounts.fields.name.placeholder' | translate }}"
                               ng-model="name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        {{ 'components.accounts.fields.initValue.text' | translate }}
                    </label>
                    <div class="col-md-9">
                        <input name="name" type="text" class="form-control"
                               placeholder="{{ 'components.accounts.fields.initValue.placeholder' | translate }}"
                               ng-model="initValue">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        {{ 'components.accounts.fields.currency.text' | translate }}
                    </label>
                    <div class="col-md-9">
                        <select class="form-control"
                                ng-model="currency"
                                ng-disabled="selectCurrencyDisabled"
                                ng-options="currency.name for currency in selectCurrencyData track by currency._id" >
                            <option value="">{{ 'components.accounts.fields.currency.default-value' | translate }}</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="btn-group pull-right">
                    <button class="btn btn-default" type="button"ng-click="Cancel()">
                        {{ 'common.buttons.cancel' | translate }}
                    </button>
                    <button class="btn btn-primary" type="submit"
                            ng-click="addAccount(this)"
                            ng-disabled="submitDisabled" >
                        {{ 'common.buttons.create' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
